<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>City not found</title>
    <link href="{{ url_for('static', filename='styles/style.css') }}" rel="stylesheet"/>
</head>


<body>
    <h1>City not found</h1>
    <h2>Sorry, we couldn't find the weather for "{{ city }}". Please try again.</h2>
    <form action="/weather" method="get">
        <input type="text" name="city" id="city" placeholder="Enter city name">
        <button type="submit">Submit</button>
    </form>
</body>
</html>